---
title: Julian Ceipek - thoughts
---

<div class='wrapper'>
	<div class="centerpiece">
		<h1>thoughts</h1>
	</div>

	<article>
		<header>
			<h2>Apple</h2>
			<p>Published: <time pubdate="pubdate">2009-10-09</time></p>
		</header>
		<p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
		...
		<footer>
			<p><small>Creative Commons Attribution-ShareAlike License</small></p>
		</footer>
	</article>

	<article>
		<header>
			<h2>Apple</h2>
			<p>Published: <time pubdate="pubdate">2009-10-09</time></p>
		</header>
		<p>The <b>apple</b> is the pomaceous fruit of the apple tree...</p>
		...
		<footer>
			<p><small>Creative Commons Attribution-ShareAlike License</small></p>
		</footer>
	</article>
</div>